.trigger {
  float: left;
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #108ee9;
}

.logo {
  height: 64px;
  padding: 15px 11px;
}
.logo img {
  width: 152px;
}

.logo-mini {
  padding: 16px 13px;
}
.logo-mini img {
  width: 35px;
}

.vertical-center-modal {
  text-align: center;
  white-space: nowrap;
}

.vertical-center-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.vertical-center-modal .ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  text-align: left;
}
.ant-calendar-picker{
  width: 100%;
}
.user {
  float: right;
  display: flex;
  height: 100%;
  margin-right: 16px;
  align-items: center;
}

.user img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin: 0 30px 0 40px;
}

.user p {
  white-space: nowrap;
}

.user span {
  margin: 0 4px;
}
