.contract-bg{
  background-color: #f7f7f7;
}
.constractInput input{
  height: 25px !important;
}
.split{
  height: 10px;
}
.ant-radio-group{
}
.contractSplitForm input:disabled,.contractSplitForm button:disabled,.contractSplitForm .ant-select-selection-selected-value,.contractSplitForm .ant-checkbox-disabled,.contractSplitForm .ant-checkbox-disabled + span
{
  color:rgba(0,0,0,1)
}

.contractSplitForm .ant-checkbox-disabled.ant-checkbox-checked .ant-checkbox-inner:after,.contractSplitForm .ant-checkbox-wrapper + span, .ant-checkbox + span{
  border-color:rgba(0,0,0,1)
}

.splitFooter {
  position: fixed;
  z-index: 999999;
  width: 1200px;
  left: 50%;
  bottom: 1px;
  margin-left: -608px;
  border-top: 1px solid #e9e9e9;
  padding: 10px 16px 10px 10px;
  text-align: right;
  border-radius: 0 0 4px 4px;
  background-color: #f0f0f0;
  button {
    margin-left: 10px;
  }
}


