@import "./assets/css/restyle.css";
@import "./assets/css/iconfont.css";
@import "./assets/css/layou.css";
@import "./assets/css/hack.css";
.ant-table-thead > tr > th.ant-table-selection-column, .ant-table-tbody > tr > td.ant-table-selection-column{
  min-width: 30px !important;
  width: 30px !important;
  padding: 0px !important;
  margin: 0px !important;
}
.ant-input-lg {
  padding: 2px 7px;
  height: 26px;
}

