.infoPanel {
  width: 100%;
  padding: 10px 0;
}

.infoPanel h1 {
  padding: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

.file-label {
  margin-left: 48px;
}

.agree-btn {
  position: fixed;
  bottom: 34px;
  right: 480px;
}

.reject-btn {
  position: fixed;
  bottom: 34px;
  right: 560px;
}
